.login-info
    h2 Tervetuloa, Olli!
    span.logged-user Olli Vetumainen (LVM)
    br
    a.bullet(href='#').dummy Omat lausuntopyynnöt
    br
    a.bullet(href='#').dummy Omat lausunnot
    br
    a.logout.button-2(href='#') kirjaudu ulos
    div(style='clear:both;')
.aside-divider
