.page#page-etusivu
    .aside
        != partial('../elements/login-info')
        a.button.new-statement-request(href='/#/uusi-lausuntopyynto')
            | Tee uusi
            br
            | lausuntopyyntö
        h2 Näin lausuntopalvelu toimii
        p
            | Lausuntopalvelu on virkamiehille ja oikeusministeriön sidosryhmille suunnattu palvelu, jonka avulla on mahdollista antaa lausuntoja, luoda lausuntopyyntöjä sekä koostaa yhteenvetoja annetuista lausunnoista. Palvelun käyttäminen vaatii vahvan tunnistautumisen.

        p
            | Kirjautunut käyttäjä voi selailla julkisia lausuntopyyntöjä, sekä niiden keräämiä lausuntoja. Julkiset lausuntopyynnöt on listattu lausunnonantoajan mukaisessa järjestyksessä. Käyttäjälle kohdistetut lausuntopyynnöt näkyvät palvelun etusivulla tiedotteina..
            
    .content
        h2 Selaa lausuntopyyntöjä
        .sort-list
            a.button-2
                | Näytä sulkeutuneet
            a.button-2
                | Näytä umpeutuvat
            a.button-2.active
                | Näytä kaikki
            div(style="clear:both;")
        .statement-requests
            .article.list-item
                .deadline
                    span.day 31
                    span.month syys
                    span.year 2011
                h3.title Lausuntopyynnön otsikko
                p.cover_text
                    | Consectetuer adipiscing elit. Sed posuere interdum sem.
                    | Quisque ligula eros ullamcorper quis, lacinia quis
                    | facilisis sed sapien. Mauris varius diam vitae ...
                span.created.author
                    a.creator.name(href='#').dummy Paavo Pekkala
                    span ,&nbsp;
                    span.created_at 12.2.2011
