h2 Lausuntopyyntöihin tehdyt korostukset

p.no-statements Ei tehtyjä korostuksia
.statement_section
    .statement-static
        .info
            a(href="#").name.dummy Lausunnonantajan nimi
            span.title 1.1 Kappaleen otsikon nimi
        .highlights
            p.highlighted_text
                | Palasin juuri uudesta koulustani, sain tänään tietää.

.button-row
    a.button.summary-close(a href="#")
        | Sulje
    a.pdf(href="#").dummy Tallenna näkymä PDF-tiedostona
    a.doc(href="#").dummy(style="margin-left:24px;") Siirrä tekstinkäsittelyohjelmaan
    a.print(href="#").dummy(style="margin-left:24px;") Tulosta näkymä
